<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Covid-19 Cases Worldwide</h1>
  <h3>last updated at: {{currentDate}}</h3>
  <hr>
  <app-dashboard-card
    [totalConfirmed] = "totalConfirmed"
    [totalDeaths] = "totalDeaths"
  ></app-dashboard-card>
</div>
<hr>
<div class="ui form">
  <div class="inline fields">
    <label for="caseType">Select Case Type:</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id='c' #c (click)="updateChart(c)" value ='c' name="caseType" checked="" tabindex="0" class="hidden">
        <label for='c'>Confirmed</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" id='d' #d (click)="updateChart(d)" value ='d' name="caseType" tabindex="0" class="hidden">
        <label for='d'>Deaths</label>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <google-chart [type]="geoChart.chartType" [dynamicResize]=true  [options] = "geoChart.options" [data]="geochartDatatable" style="width:100%"></google-chart>
  </div>
  <div class="col-12 col-md-6">
    <google-chart [type]= "columnChart.chartType" [dynamicResize]="dynamicResize" [options] = "columnChart.options" style="width: 100%" [height] = "columnChart.height" [data]="columnchartDatatable"></google-chart>
  </div>
  <!-- <div class="col-6">
    <google-chart [type]="chart.ColumnChart" [dynamicResize]="dynamicResize" [options] = "chart.options" style="width: 100%; height: 150%" [height] = "chart.height" [data]="datatable"></google-chart>
  </div> -->
</div>
